*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}
.wrapper{
    display: flex;
}
.container{
    margin: auto;
}
.color1{
    height: 50px;
    width: 50px;
    background-color: red;
    
}
.color2{
    height: 50px;
    width: 50px;
    background-color: black;
}
.row{
    display: flex;
}